# Site settings
title: Tech Blog of minioonee
description: "베짱이 탈출기"
url: "https://minioonee.github.io"
baseurl: ""
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'
# disable_landing_page: true

author:
  name: "minioonee"
  # email: josh@joshgerdes.com
  # twitter_username: joshgerdes
  # facebook_username: joshgerdes
  github_username: minioonee
  # linkedin_username: joshgerdes

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

sass:
  sass_dir: _sass
  style: compressed

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins: ["jekyll-paginate"]
exclude: ["README.md", "Gemfile", "Gemfile.lock", "screenshot.png"]
